

body 
	background-color darken(#c9d7fc, 30)
	

#center
	text-align center
	background-color #c9d7fc
	margin 0 auto
	width: 300px
	height: 500px
	border 2px solid darken(#c9d7fc, 50)
	padding-top 30px
	

h4 {
	width 90%
	margin 15px auto
	font-size: 150%
	font-family arial
	color darken(#c9d7fc, 70)
	background-color lighten(#c9d7fc, 60%)
	}
	
button 
	margin 15px auto
    padding 15px 10px
    

